img{
	border: 5px solid blue;
	padding: 5%;
	box-sizing: border-box;
	width: 49.8%;
	display: inline;

}

/*.box{
	box-sizing: border-box;
	display:inline;
	width: 50%;
}*/
.pictures{
	display: inline;
}



